.ContactItem{
    animation: ScalePage .5s  cubic-bezier(.36, .11, .89, .32);
    width: 100%;
    padding-right: 25px;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    .contact{
        display: flex;
        align-items: center;
        background-color: #191D2B;
        padding: 4rem 0;
        .right-items{
            margin-left: 2rem;
        }
        img{
            padding: 1rem;
            border: 1px solid #FFCC35;
            margin-left: 2rem;
            width: 16%;
        }
        .right-items{
            h6 {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}

.ContactPageMain{
    background-color: #121824;
    border-radius: 30px;
    border: 1px solid #FFCC35;
}

.ContactPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;
    @media screen and (max-width: 1270px){
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-sect{
        width: 100%;
        margin-left: 25px;
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }
}

.contact-sect{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    margin-bottom: 5rem;
    
    @media screen and (max-width: 1270px){
      .subTitle{
        font-size: 35px;
        margin-top: 15px;
        margin-left: 5px;
      }
    }
}

.ContactFormPage{
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #121824;
    border-radius: 30px;
    border: 1px solid #FFCC35;
}

$primary: #FFCC35;
$secondary: #121824;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  margin-left: 25px;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.btn-info{
  margin-top: 40px;
}