.XPPage{
    animation: ScalePage .5s  cubic-bezier(.36, .11, .89, .32);
    background-color: #121824;
    border-radius: 30px;
    border: 1px solid #FFCC35;
    height: 1500px;
    width: 110%;
    span{
        font-size: 55px;
        margin-top: 5px;
    }
}
