.App .sidebar {
  width: 20%;
  height: 100vh;
  background-color: #121824;
  position: fixed;
  z-index: 11;
  border-right: 1px solid rgba(0, 0, 0, 0.329);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (max-width: 1000px) {
  .App .sidebar {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 30%;
  }
}

@media screen and (max-width: 411px) {
  .App .sidebar {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .App .nav-toggle {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.App .main-content {
  width: 84%;
  margin-left: 16%;
  min-height: 100vh;
  background-image: url("./img/webBgMain.jpg");
  display: -ms-grid;
  display: grid;
  position: relative;
}

.App .main-content .content {
  margin: 5rem 15rem;
}

@media screen and (max-width: 1100px) {
  .App .main-content .content {
    margin: 2rem 10rem;
  }
}

@media screen and (max-width: 1400px) {
  .App .main-content .content {
    margin: 3rem 10rem;
  }
}

@media screen and (max-width: 1400px) {
  .App .main-content .content {
    margin: 3rem 10rem;
  }
}

@media screen and (max-width: 710px) {
  .App .main-content .content {
    margin: 2rem 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .App .main-content {
    margin-left: 0;
    width: 100%;
  }
}

.nav-btn {
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 5%;
  width: 4rem;
  height: 4rem;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-top: 12px;
}

.nav-btn .lines-1, .nav-btn .lines-2, .nav-btn .lines-3 {
  height: .4rem;
  width: 100%;
  background-color: #FFCC35;
  pointer-events: none;
  display: none;
  border-radius: 20px;
}

.nav-btn .lines-1:not(:last-child), .nav-btn .lines-2:not(:last-child), .nav-btn .lines-3:not(:last-child) {
  margin-bottom: .5rem;
}

@media screen and (max-width: 1000px) {
  .nav-btn {
    display: block;
  }
  .nav-btn .lines-1, .nav-btn .lines-2, .nav-btn .lines-3 {
    display: block;
  }
}

.texttype {
  height: 80px;
}

@media screen and (max-width: 360px) {
  .texttype {
    margin-bottom: 80px;
    font-size: 40px;
    margin-top: 10%;
  }
}

@media screen and (max-width: 420px) {
  .texttype {
    font-size: 40px;
    margin-top: 10%;
  }
}

@media screen and (max-width: 440px) {
  .texttype {
    margin-bottom: 80px;
  }
}

.NavBar {
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  height: 100vh;
}

.NavBar .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar .nav .profile {
  width: 100%;
  height: 30%;
  text-align: center;
}

.NavBar .nav .profile img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.NavBar .nav .nav-items {
  width: 100%;
}

.NavBar .nav .nav-items .nav-item {
  list-style: none;
  text-align: center;
}

.NavBar .nav .nav-items .nav-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
  display: block;
  padding: .5rem 0;
  position: relative;
}

.NavBar .nav .nav-items .nav-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .4rem;
  height: 100%;
  background-color: #ffcd3555;
  color: white;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow-x: hidden;
  -webkit-transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35);
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
}

.NavBar .nav .nav-items .nav-item a:hover::before {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.NavBar .nav .footer {
  width: 100%;
  border-top: 1px solid black;
}

.NavBar .nav .footer p {
  text-align: center;
  padding: 1rem 0;
}

.active {
  border: 3px solid #b68800;
}

@-webkit-keyframes ScalePage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ScalePage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@media screen and (max-width: 380px) {
  .HomePage {
    width: 100%;
    height: 70%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media screen and (max-width: 420px) {
  .HomePage {
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 440px) {
  .HomePage {
    width: 100%;
    height: 70%;
  }
}

@media screen and (max-width: 540px) {
  .HomePage {
    width: 100%;
    height: 70%;
  }
}

@media screen and (max-width: 300px) {
  .HomePage {
    width: 100%;
    height: 70%;
  }
}

.hero {
  background-color: #121824;
  border-radius: 30px;
  border: 1px solid #FFCC35;
}

@media screen and (max-width: 360px) {
  .hero {
    margin-right: 10px;
  }
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
}

.hero-text span {
  color: #FFCC35;
}

.h-sub-text {
  text-align: center;
}

@media screen and (max-width: 300px) {
  .h-sub-text {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}

.icons .icon-holder {
  margin-right: 1rem;
}

.icons .icon-holder .icon {
  font-size: 2.8rem;
  color: #ffffff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.icons .icon-holder .insta:hover {
  color: magenta;
}

.icons .icon-holder .cp:hover {
  color: rgba(35, 214, 65, 0.788);
}

.icons .icon-holder .link:hover {
  color: #00b7ff;
}

.icons .icon-holder .gh:hover {
  color: #ffe600;
}

.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  margin-left: 35px;
  margin-top: 15px;
}

.Title::before {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #0381ff38;
  width: 6rem;
  height: .4rem;
  border-radius: 50px;
}

.Title::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #FFCC35;
  width: 3rem;
  height: .4rem;
  border-radius: 50px;
}

.Title span {
  position: absolute;
  top: 15%;
  left: 0;
  font-size: 5rem;
  opacity: 0.07;
}

.AboutPage {
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  background-color: #121824;
  border-radius: 30px;
  border: 1px solid #FFCC35;
}

@media screen and (max-width: 360px) {
  .AboutPage {
    width: 100%;
  }
}

.top {
  margin-top: 30px;
}

.ImageSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 25px;
  padding-right: 25px;
}

.ImageSection .img {
  width: 100%;
  height: 50vh;
}

.ImageSection .img img {
  margin-top: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 137%;
}

.ImageSection .about-info {
  margin-left: 2rem;
}

.ImageSection .about-info h4 {
  font-size: 2rem;
}

.ImageSection .about-info .about-text {
  padding: 1rem 0;
}

@media screen and (max-width: 1300px) {
  .ImageSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ImageSection .about-info {
    margin-left: 0;
    margin-top: 15rem;
  }
  .ImageSection .img img {
    width: 90%;
  }
}

.about-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-details p {
  padding: .3rem 0;
}

.about-details .right-section {
  margin-left: 2.3rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #FFCC35;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-left: 20px;
  position: relative;
}

.btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: .3rem;
  left: 0;
  bottom: 0;
  background-color: #a4acc4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.skills-container {
  padding-left: 25px;
  padding-right: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 1100px) {
  .skills-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.btn-port {
  padding: 1rem 2rem;
  border: 3px solid #FFCC35;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: white;
  margin-bottom: 1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-port:not(:last-child) {
  margin-right: 1rem;
}

.btn-port:hover {
  background-color: #FFCC35;
}

.btn-port:active {
  background-color: #FFCC35;
}

.btn-port:focus {
  background-color: #FFCC35;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1270px) {
  .buttons {
    margin: 2rem 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .buttons {
    margin: 2rem 2rem;
  }
}

.space {
  margin-top: 80px;
}

.logotype {
  width: 30px;
  height: 30px;
  float: left;
}

.skills-container .skill-title {
  font-size: 1.4rem;
  font-weight: 400;
}

.skills-container .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.skills-container .skill-bar .skill-progress {
  width: 100%;
}

.skills-container .skill-bar .skill-progress .progress {
  width: 100%;
  height: .5rem;
  background-color: red;
  margin-left: 1rem;
  background-color: #0381ff3f;
  position: relative;
}

.skills-container .skill-bar .skill-progress .progress .inner-pregress {
  position: absolute;
  background-color: #FFCC35;
  height: 100%;
  bottom: 0;
}

.ServicesSection .service {
  width: 330px;
  height: 500px;
  background-color: #191D2B;
  border-left: 1px solid #2e344e;
  border-right: 1px solid #2e344e;
  border-bottom: 1px solid #2e344e;
  border-top: 8px solid #2e344e;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .ServicesSection .service {
    width: 150px;
    height: 100%;
    margin-bottom: 1rem;
  }
}

.ServicesSection .service:hover {
  border-top: 8px solid #FFCC35;
}

.ServicesSection .service .service-content {
  padding: 1rem;
}

.ServicesSection .service .service-content .s-title {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 1rem;
  margin: 2rem 0;
}

.ServicesSection .service .service-content .s-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #2e344e;
}

.services-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-icon {
  width: 85px;
  height: 100%;
}

.BlogsPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@media screen and (max-width: 1080px) {
  .BlogsPage {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

.BlogsPage .blog {
  background-color: #161925;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}

.BlogsPage .blog .blog-content {
  overflow: hidden;
  padding-bottom: 2rem;
}

.BlogsPage .blog .blog-content img {
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding-bottom: 2rem;
}

.BlogsPage .blog .blog-content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.BlogsPage .blog .blog-content .blog-link {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 2rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.BlogsPage .blog .blog-content .blog-link:hover {
  color: #FFCC35;
}

.b-title {
  margin-bottom: 4rem;
}

.ContactItem {
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  width: 100%;
  padding-right: 25px;
}

.ContactItem:not(:last-child) {
  margin-bottom: 1rem;
}

.ContactItem .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191D2B;
  padding: 4rem 0;
}

.ContactItem .contact .right-items {
  margin-left: 2rem;
}

.ContactItem .contact img {
  padding: 1rem;
  border: 1px solid #FFCC35;
  margin-left: 2rem;
  width: 16%;
}

.ContactItem .contact .right-items h6 {
  font-size: 1.4rem;
  font-weight: 500;
}

.ContactPageMain {
  background-color: #121824;
  border-radius: 30px;
  border: 1px solid #FFCC35;
}

.ContactPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
}

@media screen and (max-width: 1270px) {
  .ContactPage {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.ContactPage .contact-sect {
  width: 100%;
  margin-left: 25px;
}

.ContactPage .contact-sect a {
  text-decoration: none;
  color: aliceblue;
}

.contact-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  margin-bottom: 5rem;
}

@media screen and (max-width: 1270px) {
  .title .subTitle {
    font-size: 35px;
    margin-top: 15px;
    margin-left: 5px;
  }
}

.ContactFormPage {
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #121824;
  border-radius: 30px;
  border: 1px solid #FFCC35;
}

.form__group {
  margin-left: 25px;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #FFCC35, #121824);
     border-image: -webkit-gradient(linear, left top, right top, from(#FFCC35), to(#121824));
     border-image: linear-gradient(to right, #FFCC35, #121824);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #FFCC35;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-info {
  margin-top: 40px;
}

.PortfolioPage {
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  background-color: #121824;
  border: 1px solid #FFCC35;
}

.infoItem {
  border: 2px solid #FFCC35;
  height: 160px;
  padding: 1rem;
}

.portfolis {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media screen and (max-width: 1600px) {
  .portfolis {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .portfolis {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.portfolis .portfolio .image-data {
  position: relative;
}

.portfolis .portfolio .image-data::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.portfolis .portfolio .image-data:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolis .portfolio .image-data img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolis .portfolio .image-data .hover-items {
  list-style: none;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  visibility: hidden;
}

.portfolis .portfolio .image-data .hover-items li a {
  padding: 1rem;
  text-decoration: none;
  font-family: inherit;
  background-color: #FFCC35;
  color: white;
}

.portfolis .portfolio .image-data .hover-items li a:not(:last-child) {
  margin-right: 2rem;
}

.portfolis .portfolio .image-data:hover .hover-items {
  -webkit-transition: all .5s ease-in-out .2s;
  transition: all .5s ease-in-out .2s;
  visibility: visible;
  top: 50%;
}

.portfolis .portfolio h5 {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolis .portfolio h5:hover {
  color: #FFCC35;
  cursor: pointer;
}

.XPPage {
  -webkit-animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: ScalePage 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
  background-color: #121824;
  border-radius: 30px;
  border: 1px solid #FFCC35;
  height: 1500px;
  width: 110%;
}

.XPPage span {
  font-size: 55px;
  margin-top: 5px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #FFCC35;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.3rem;
  background-color: #10121B;
}

span {
  color: #FFCC35;
}

@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}
/*# sourceMappingURL=App.css.map */