.App .sidebar {
  width: 16%;
  height: 100vh;
  background-color: #191D2B;
  position: fixed;
  z-index: 11;
  border-right: 1px solid #2e344e;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (max-width: 1000px) {
  .App .sidebar {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 30%;
  }
}

@media screen and (max-width: 411px) {
  .App .sidebar {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .App .nav-toggle {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.App .main-content {
  width: 84%;
  margin-left: 16%;
  background-color: #10121B;
  min-height: 100vh;
  background-image: url("./img/dots.svg");
  display: -ms-grid;
  display: grid;
  position: relative;
}

.App .main-content .content {
  margin: 5rem 15rem;
}

@media screen and (max-width: 1100px) {
  .App .main-content .content {
    margin: 2rem 10rem;
  }
}

@media screen and (max-width: 1400px) {
  .App .main-content .content {
    margin: 3rem 10rem;
  }
}

@media screen and (max-width: 1400px) {
  .App .main-content .content {
    margin: 3rem 10rem;
  }
}

@media screen and (max-width: 710px) {
  .App .main-content .content {
    margin: 2rem 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .App .main-content {
    margin-left: 0;
    width: 100%;
  }
}

.nav-btn {
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 5%;
  width: 4rem;
  height: 4rem;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nav-btn .lines-1, .nav-btn .lines-2, .nav-btn .lines-3 {
  height: .4rem;
  width: 100%;
  background-color: #3858cc;
  pointer-events: none;
  display: none;
  border-radius: 20px;
}

.nav-btn .lines-1:not(:last-child), .nav-btn .lines-2:not(:last-child), .nav-btn .lines-3:not(:last-child) {
  margin-bottom: .5rem;
}

@media screen and (max-width: 1000px) {
  .nav-btn {
    display: block;
  }
  .nav-btn .lines-1, .nav-btn .lines-2, .nav-btn .lines-3 {
    display: block;
  }
}

.NavBar {
  height: 100vh;
}

.NavBar .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar .nav .profile {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid #2e344e;
}

.NavBar .nav .profile img {
  width: 70%;
  border-radius: 100%;
  border: 5px solid #2e344e;
  margin-bottom: 1rem;
}

.NavBar .nav .nav-items {
  width: 100%;
}

.NavBar .nav .nav-items .nav-item {
  list-style: none;
  text-align: center;
}

.NavBar .nav .nav-items .nav-item a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  display: block;
  padding: .5rem 0;
  position: relative;
}

.NavBar .nav .nav-items .nav-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .4rem;
  height: 100%;
  background-color: #0381ff33;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow-x: hidden;
  -webkit-transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35);
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
}

.NavBar .nav .nav-items .nav-item a:hover::before {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.NavBar .nav .footer {
  width: 100%;
  border-top: 1px solid #2e344e;
}

.NavBar .nav .footer p {
  text-align: center;
  padding: 1rem 0;
}

.active {
  background-color: #037FFF;
}

.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
}

.hero-text span {
  color: #037FFF;
}

.h-sub-text {
  text-align: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}

.icons .icon-holder {
  margin-right: 1rem;
}

.icons .icon-holder .icon {
  font-size: 2.8rem;
  color: #a4acc4;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.icons .icon-holder .fb:hover {
  color: blue;
}

.icons .icon-holder .gh:hover {
  color: rgba(212, 45, 212, 0.788);
}

.icons .icon-holder .yt:hover {
  color: red;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0056d898;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  color: #a4acc4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037FFF;
}

@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}
/*# sourceMappingURL=App.css.map */